h1 {
  color: red;
  text-size: 50px;
  font-family: 'Ma Shan Zheng', cursive;
}

h2 {
  margin-left: 2px;
  font-family: "Pacifico", cursive;
}

h3 {
  margin-left: 3px;
  font-family: 'Lobster', cursive;
};
